<h1>Example : Image Aesthetic Appeal</h1> 
<!--<%= session[:test_set] %>
<%= session[:subtask] %>
<%= session[:first] %>-->

<div id="test_image">
	<%= link_to image_tag('like_5.jpg'), '#' %>
</div>

<p>
Please indicate the image's level of beauty below:
</p>

<div id="slider-ACR-Rec"></div>
<table style="width:100%">
	<tr>
		<td style="text-align:left" width="12.5%">Bad</td>
		<td style="text-align:center" >Poor</td>
		<td style="text-align:center" width="25%">Fair</td>
		<td style="text-align:center" width="25%">Good</td>
		<td style="text-align:right" width="12.5%">Excellent</td>
	</tr>
</table>
<br>
<br>

<div class="buttons">
  <%= link_to "Next", ready_path, class: "btn btn-large btn-primary" %> 
</div>

