<h1>Example : Image Quality</h1> 
<!--<%= session[:test_set] %>
<%= session[:subtask] %>
<%= session[:first] %>-->

<p>
This is an example of an <b>excellent</b> quality image. 
</p>
<br>
<br>
<br>
<br>

<div id="test_image">
	<%= link_to image_tag('Training/golden_1.jpg'), '#' %>
</div>

<p>
Please indicate the image's level of <b>quality</b> below:
</p>

<div id="slider-ACR-Rec"></div>
<table style="width:100%">
	<tr>
		<td style="text-align:left" width="12.5%">Bad</td>
		<td style="text-align:center" >Poor</td>
		<td style="text-align:center" width="25%">Fair</td>
		<td style="text-align:center" width="25%">Good</td>
		<td style="text-align:right" width="12.5%">Excellent</td>
	</tr>
</table>
<br>
<br>

<div class="buttons">
  <%= link_to "Next", trainaest_path, class: "btn btn-large btn-primary" %> 
</div>

