<div class="center hero-unit"> 
  <h1>Welcome to the Urban Attractiveness Evaluation Survey</h1>
</div>

<h3>This task is for non-profit research purposes.</h3>
<h3>Tell us which places are attractive!</h3>

<br>

<div class="row">
  <div class="box">
  <div class="span8 offset2">

    <p>Please fill out the details below, and press 'Save and continue' to start the task.</p>

      <%= form_for(@user) do |f| %>
        <%= f.hidden_field :id, :value => session[:userid] %>
        <%= f.hidden_field :start_time, :value => Time.now.strftime("%I:%M:%S %z") %>

        <%= f.label :name %>
        <%= f.text_field :name, :size => '60' %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :gender %>
        <%= f.select :gender, options_for_select(['M', 'F', 'N/A'])%>

        <%= f.label :age %>
        <%= f.select :age, (17..50) %>

        <%= f.label :nationality %>
        <%= f.select :nationality, @nationalities %>

        <%= f.label "Questions Set" %>
        <%= f.select :campaign_id, options_for_select([1,2,3,4,5,6,7,8,9,10]) %>

        <br>
        <br>
        <div class='center'>
        <%= f.submit "Save and continue", class: "btn btn-large btn-primary" %>
        </div>
      <% end %>
   </div>

</div>
</div>